@model InfoJobs.Models.trabajos

@{
    ViewData["Title"] = "Empleo Especifico-InfoJobs";
}

<div class="container-fluid">
    @if (TempData["Mensaje"] != null)
    {
        <div class="alert alert-success">
            @TempData["Mensaje"]
        </div>
    }
    @if (TempData["Mensaje2"] != null)
    {
    <div class="alert alert-success">
        @TempData["Mensaje2"]
    </div>
    }
    <div class="row p-5">
        <div class="row no-gutters">
            <div class="col-md-3 col-sm-12">
                <div class="card align-items-center pt-2 my-5 pb-2 px-3">
                    <div>
                        <img class="m-3" src="/img/@Html.DisplayFor(trabajo => trabajo.imagen)" alt="" height="200" width="200">
                    </div>
                    <div>
                        <p class="">@Html.DisplayFor(trabajo => trabajo.descripcion)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card mt-5">
                    <div>
                        <h2 class="mx-4 mt-3 text-start">@Html.DisplayFor(trabajo => trabajo.nombre)</h2>
                    </div>
                    <div>
                        <p class="p-4">
                            <strong>Empleador:</strong> @Html.DisplayFor(trabajo => trabajo.nombre_empresa) <br />
                            <strong>La descripcion:</strong> @Html.DisplayFor(trabajo => trabajo.nombre) <br />
                            <strong>Salario:</strong> $ @Html.DisplayFor(trabajo => trabajo.salario) <br />
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="card my-5 p-4">
                    <h5 class="mb-4">Adjunta tu curriculum</h5>
                    @if (TempData["Mensaje3"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["Mensaje3"]
                        </div>
                    }
                    <form asp-action="subirArchivo" method="post" enctype="multipart/form-data">
                        <input type="file" accept=".docx,.pdf" class="form-control" id="archivo" name="archivo">
                        <button type="submit" class="btn btn-success my-4">Envíar curriculum</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="row no-gutters my-4">
            <div class="col-md-7 col-sm-12">
                <div class="card">
                    <div>
                        <h2 class="mx-4 mt-3 text-start">Requisitos del empleo</h2>
                    </div>
                    <div>
                        <p class="p-4">
                            @Html.DisplayFor(trabajo => trabajo.experiencia)
                        </p>
                    </div>
                    <div>
                        <h2 class="mx-4 mt-3 text-start">Contrato</h2>
                    </div>
                    <div>
                        <p class="p-4">
                            @Html.DisplayFor(trabajo => trabajo.contrato)
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="card text-start p-4">
                    <div>
                        <h4>Comentarios</h4>
                    </div>
                    <div class="my-3">
                        @foreach (var comentarios in (IEnumerable<dynamic>)ViewData["listadoComen"])
                        {
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        usuario
                                    </h5>
                                    <p>"@comentarios.comentario"</p>
                                    <p>Valoración: @comentarios.valoracion estrellas</p>
                                </div>
                            </div>
                            <br>
                        }
                       
                    </div>
                    <form asp-action="agregarComentario">
                        <p>Deja tu comentario</p>
                        <input class="form-control" placeholder="Escriba su comentario... " name="comentario">
                        <div class="mt-3">
                            <input type="submit" class="btn btn-success w-100" value="Enviar comentario" />
                            <input type="hidden" value="@Html.DisplayFor(trabajo => trabajo.id_trabajo)" name="id_trabajo">
                        </div>
                        <div>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="star1" name="valoracion" value="1" class="form-check-input">
                                <label class="form-check-label" for="star1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="star2" name="valoracion" value="2" class="form-check-input">
                                <label class="form-check-label" for="star2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="star3" name="valoracion" value="3" class="form-check-input">
                                <label class="form-check-label" for="star3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="star4" name="valoracion" value="4" class="form-check-input">
                                <label class="form-check-label" for="star4">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="star5" name="valoracion" value="5" class="form-check-input">
                                <label class="form-check-label" for="star5">5</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
