@{
    ViewData["Title"] = "Recursos-InfoJobs";
}

<div class="container">
    <div class="row">
        <div class="col-md-3 d-none d-md-block" id="aside">
            <div class="aside-content">
                <!--noticias-->
                <h1>Noticias</h1>
                @foreach (var noticia in (IEnumerable<dynamic>)ViewData["listadoDeNoticia"])
                {
                    <div class="card" style="width: 18rem;">
                        <p class="text-center">
                            <img src="@noticia.imagen" class="img-fluid margen" width="200px" height="200px" alt="Imagen">
                        </p>
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                @noticia.titulo
                            </h5>
                            <a href="@noticia.fuente" target="_blank" class="btn btn-primary text-center">Noticia</a>
                        </div>
                    </div>
                    <br>
                }

                <hr class="color-hr">
                <!--consejos-->
                <h1>Consejos</h1>
                @foreach (var consejo in (IEnumerable<dynamic>)ViewData["listadoDeConsejo"])
                {
                    <div class="card" style="width: 18rem;">
                        <p class="text-center">
                            <img src="@consejo.imagen" class="img-fluid margen" width="200px" height="200px" alt="Imagen">
                        </p>
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                @consejo.titulo
                            </h5>
                            <p class="card-text">
                                @consejo.descripcion
                            </p>
                        </div>
                    </div>
                    <br>
                }
            </div>
        </div>
        <br>
        <div class="col-md-1">
            <div class="linea"></div>
        </div>
        <div class="col-md-8">
            <!--articulos-->
            <h1>Articulos</h1>
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                    @foreach (var articulo in (IEnumerable<dynamic>)ViewData["listadoDeArticulo"])
                    {
                        var index = ((IEnumerable<dynamic>)ViewData["listadoDeArticulo"]).ToList().IndexOf(articulo);
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@index" @(index == 0 ? "class=active" : "") aria-label="Slide @(index + 1)"></button>
                    }
                </div>
                <div class="carousel-inner">
                    @{
                        int numero = 0;
                    }
                    @foreach (var articulo in (IEnumerable<dynamic>)ViewData["listadoDeArticulo"])
                    {
                        
                        if (numero == 0)
                        {
                            <div class="carousel-item active">
                                <img src="@articulo.imagen" class="d-block w-100" alt="Imagen">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="letra">
                                        @articulo.titulo
                                    </h5>
                                    <p>
                                        <a href="@articulo.fuente" target="_blank" class="color">Artículo</a>
                                    </p>
                                </div>
                            </div>
                            numero = numero + 1;
                        }
                        else
                        {
                            <div class="carousel-item">
                                <img src="@articulo.imagen" class="d-block w-100" alt="Imagen">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="letra">
                                        @articulo.titulo
                                    </h5>
                                    <p>
                                        <a href="@articulo.fuente" target="_blank" class="color">Artículo</a>
                                    </p>
                                </div>
                            </div>
                        }
                    }
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <br>
            <!--videos-->
            <h1>Videos</h1>
            <div id="carouselExampleCaptions2" class="carousel slide">
                <div class="carousel-indicators">
                    @foreach (var video in (IEnumerable<dynamic>)ViewData["listadoDeVideo"])
                    {
                        var index = ((IEnumerable<dynamic>)ViewData["listadoDeVideo"]).ToList().IndexOf(video);
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@index" @(index == 0 ? "class=active" : "") aria-label="Slide @(index + 1)"></button>
                    }
                </div>
                <div class="carousel-inner">
                    @{
                        int numero2 = 0;
                    }
                    @foreach (var video in (IEnumerable<dynamic>)ViewData["listadoDeVideo"])
                    {

                        if (numero2 == 0)
                        {
                            <div class="carousel-item active">
                                <iframe width="855" height="641" src="@video.fuente" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                            numero2 = numero2 + 1;
                        }
                        else
                        {
                            <div class="carousel-item">
                                <iframe width="855" height="641" src="@video.fuente" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                        }
                    }
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <br>
            <br>
            <div class="trabajo">
                <div>
                    <h1>Lista de trabajos</h1>
                </div>
                <div class="trabajo">
                    <form class="form-inline my-2 my-lg-0 trabajo mx-4 my-4" method="get" action="@Url.Action("buscar", "Recursos")" >
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar" name="titulo">
                        <button class="btn btn btn-primary my-2 my-sm-0" type="submit">Buscar</button>
                    </form>
                    <form class="form-inline my-2 my-lg-0 trabajo mx-4 my-4" method="get" action="@Url.Action("quitarFiltro", "Recursos")">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Quitar filtro</button>
                    </form>
                    
                </div>
            </div>
            <br>
            @foreach (var oferta in (IEnumerable<dynamic>)ViewData["listadoDeOfer"])
            {
                <div id="card-body trabajo" class="row" id="oferta">
                    <div class="card">
                        <div class="card-body trabajo">
                            <div>
                                <img src="/img/@oferta.logo" class="img-fluid" width="100px" height="100px">
                                <p class="text-center">@oferta.nombre</p>
                            </div>
                            <div class="mx-4">
                                <h3>@oferta.titulo</h3>
                                <p>
                                    @oferta.ubicacion, Contacto: @oferta.contacto
                                </p>
                                <h5>Descripcion</h5>
                                <p>@oferta.descripcion</p>
                                <h5>Requisitos</h5>
                                <p>@oferta.requisitos</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            }
        </div>
    </div>
</div>
